@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

:root {
  --bg-red-color: #f03c42;
  --bg-blue-color: #222374;
  --white-color: #fff;
  --bg-gray-color: #ccc;
  --bg-black-color: #000;
}

* {
  /*Se coloca padding, marging etc, sera descontado do tamanho do item, sem afetar a página*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  height: 100px;
  padding: 0 120px;
  background-color: var(--bg-red-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: var(--white-color);
  font-family: Open Sans, sans-serif;
  font-size: 18px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div p {
  color: var(--white-color);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

nav img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

#space {
  background-color: var(--bg-blue-color);
  padding-bottom: 20px;
}

#space .container h2 {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  color: var(--white-color);
  padding: 20px 0px;
}

.space-card {
  background-color: var(--bg-gray-color);
  border-radius: 8px;
  margin: 20px 0px;
}

.space-card h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-family: Open Sans, sans-serif;
}

.space-card p {
  padding: 20px;
}

#modality .container h2 {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  color: var(--bg-red-color);
  padding: 20px 0px;
}

.modality-card {
  background-color: var(--bg-blue-color);
  border-radius: 8px;
  margin: 20px 0px;
}

.modality-card h3 {
  color: var(--white-color);
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-family: Open Sans, sans-serif;
}

.modality-card p {
  color: var(--bg-gray-color);
  padding: 20px;
}

footer {
  height: 262px;
  background-color: var(--bg-black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container-social-media {
  display: flex;
  flex-direction: column;
}

.footer-container-social-media div {
  display: flex;
  align-items: center;
}

.footer-container-social-media img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.footer-container-social-media a {
  text-decoration: none;
  color: var(--white-color);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

.direitos {
  padding-top: 30px;
  color: var(--white-color);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

address p {
  color: var(--white-color);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}
