@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

:root {
  --bg-color: #f03c42;
  --color-white: #fff;
}

* {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  height: 100px;
  padding: 0 120px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: var(--color-white);
  font-family: Open Sans, sans-serif;
  font-size: 18px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div h2 {
  color: var(--color-white);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  /*Serve para tirar ou colocar negrito*/
  font-weight: normal;
}

nav img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
